<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading bg-secondary pt-4 pb-4">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div id = "teamMembers" class="row d-flex flex-wrap justify-content-center">
        </div>
    </div>
</body>
            <!-- <div class="team-area mx-2 my-4 w-30 bg-secondary text-light text-center rounded-lg">
                ${res.managerName} <br> <strong>Manager</strong> <br>
            <table class="table table-dark table-hover">
               <tr><td>ID: ${res.managerId}</td></tr><br>
               <tr><td>Email: <a href="mailto:${res.managerEmail}">${res.managerEmail}</a></td></tr>
               <tr><td>Office Number: ${res.managerOfficeNumber}</td></tr>
            </table>
            </div>
            <div class="team-area mx-2 my-4 w-30 bg-secondary text-light text-center rounded-lg">
                ${res.engName} <br> <strong>Engineer</strong> <br>
                <table class="table table-dark table-hover">
                   <tr><td>ID: ${res.engId}</td></tr><br>
                   <tr><td>Email: <a href="mailto:${res.engEmail}">${res.engEmail}</a></td></tr>
                   <tr><td>Github: <a href="https://github.com/${res.engGit}">${res.engGit}</a></td></tr>
                </table>
            </div>
            <div class="team-area mx-2 my-4  w-30  bg-secondary text-light text-center rounded-lg">
                ${res.intName} <br> <strong>Intern</strong> <br>
                <table class="table table-dark table-hover">
                   <tr><td>ID: ${res.intId}</td></tr><br>
                   <tr><td>Email: <a href="mailto:${res.intEmail}">${res.intEmail}</a></td></tr>
                   <tr><td>School: ${res.intSchool}</td></tr>
                </table>
            </div> -->
</html><div class="team-area mx-2 my-4 w-30 bg-secondary text-light text-center rounded-lg">
Tim <br> <strong>Manager</strong> <br>
<table class="table table-dark table-hover">
<tr><td>ID: 2345</td></tr><br>
<tr><td>Email: <a href="mailto:Tim@Soyer.com">Tim@Soyer.com</a></td></tr>
<tr><td>Office Number: 332</td></tr>
</table>
</div>